<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Recettes</title>
</head>
<body>
<h2>Rechercher des Recettes</h2>

<form action="#" th:action="@{/recipes/search/name}" method="get">
    <input type="text" name="name" placeholder="Rechercher par nom" />
    <button type="submit">Recherche</button>
</form>

<form action="#" th:action="@{/recipes/search/ingredient}" method="get">
    <input type="text" name="ingredient" placeholder="Rechercher par ingrédient" />
    <button type="submit">Recherche</button>
</form>

<h2>Liste des Recettes</h2>
<a th:href="@{/recipes/add}">Ajouter une recette</a>
<div th:each="recipe : ${recipes}">
    <p th:text="${recipe.name}"></p>
    <a th:href="@{/recipes/{id}(id=${recipe.getId()})}">Detail</a>
</div>
</body>
</html>
